#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 520px;
  background-image: url('/Banner.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}