.header {
  position: relative;
  background-image: url('/Banner.jpg');
  background-size: cover;
  background-position: center;
  height: 680px;
  min-height: 550px;
  display: flex;             
  flex-direction: column;
  justify-content: center;     
  align-items: center;         
}

.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.headerContent {
  position: relative;
  z-index: 2;

  max-width: 700px;
  text-align: center;

  margin-top: -40px;    
}

.header h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
  color: white;
}

.header p {
  max-width: 680px;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255,255,255,0.9);
  margin-bottom: 24px;
}

.headerButton {
  margin-top: 30px;
  background: #0d87e9;
  padding: 12px 28px;
  border-radius: 24px;
  color: white;
  font-weight: 600;
}
